{% extends 'base.html.twig' %}

{% block body %}
    {%  if resp %}
        <h1>Ficha Libro</h1>
        <ul>
            <li><b>{{ resp.titulo }}</b>
            </li>
            <li> {{ resp.autor }}
            </li>
            <li>{{ resp.paginas }} paginas</li>
        </ul>
    {% else %}
        <h2>No se han encontrado libros</h2>
    {% endif %}
    <a href="/">Volver</a>
{% endblock %}