{% extends 'base.html.twig' %}

{% block body %}
    <h1>Biblioteca Particular</h1>
    <ul>
    {% for libro in libros %}
        <li><a href="/libro/{{ libro.isbn }}">{{ libro.titulo }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}